In [1]:
x = [1,2,3,4,5,6,7]
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [2]:
for x in range(0,8):
    print(x)

0
1
2
3
4
5
6
7

In [3]:
for x in range(0,11,3):
    print(x)

0
3
6
9

In [4]:
list(range(0,11,3))

[0, 3, 6, 9]

In [6]:
word = 'nithinreddy'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
n


1
i


2
t


3
h


4
i


5
n


6
r


7
e


8
d


9
d


10
y

In [7]:
mylist1  = [1,2,3,4]
mylist2 = ['a','b','c','d']
zip(mylist1,mylist2)

In [8]:
mylist1  = [1,2,3,4]
mylist2 = ['a','b','c','d']
for nithin in zip(mylist1,mylist2):
    print(nithin)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [9]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [12]:
d = {'mykey':456}
456 in d.values()

True

In [13]:
nithin = [1,6,8,9,3]
min(nithin)

1

In [14]:
max(nithin)

9

In [15]:
from random import choice
choice(nithin)

8

In [16]:
from random import shuffle
shuffle(nithin)

In [17]:
nithin

[3, 6, 8, 1, 9]

In [18]:
nithin

[3, 6, 8, 1, 9]

In [19]:
from random import triangular

In [21]:
import random
random.randint(0,68)

52

In [26]:
class Cube():
    def __init__(self,area):
        self.area = area
    def volume(self):
        return pow(self.area,3)

In [27]:
co = Cube(5)

In [28]:
co.volume

In [29]:
co.volume()

125